* {
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
}
/* .home, .deskripsi, .skill, .portfolio {
  height: max-content;
  align-items: center;
  padding:0 10px ;
} */

.home {
  height: 100vh;
}
.home h3 {
  font-size: 18pt;
}
.home .intro {
  text-align: center;
  width: 80vh;
}
.home p{
  text-align: center;
  font-size: 11pt;
}
 .deskripsi{
  height: max-content;
  background-color: #fafafa;
  border-radius:20px 100px ;
  padding: 40px 20px;
 }
.deskripsi img {
  width: 150px;
  margin-bottom: 10px;
}
.deskripsi .my-deskripsi p{
  text-align: justify;
}
.deskripsi .my-deskripsi .biodate h5 {
  font-size: 13pt;
}
.deskripsi .my-deskripsi .biodate p {
  font-size: 10pt;
}

.deskripsi .my-deskripsi .contact i{
  font-size: 18pt;
  margin: 20px 20px 30px 0;
  cursor: pointer;
}
.deskripsi button{
  
  margin:20px 20px 0;
}

.skill {
  padding: 40px 20px;
}

.skill h3{
  font-size: 20pt;
  margin: 0 50px 50px;
}

.skill .cards img {
  width: 100px;
  padding: 15px;
  border-radius: 30px;
}

.portfolio {
  background-color: #fafafa;
  height: max-content;
  padding: 100px 15px;
  
}
.portfolio .card {
  width: 13rem;
  margin: 10px 10px;
}

.portfolio .my-portfolio .cards .card img {
  width: 100px;
  display: block;
  margin: 0 auto;
}
.portfolio .my-portfolio .cards .card p {
  font-size: 10pt;
}

.footer i {
  font-size: 16pt;
}
.footer p {
  color: #ffffff;
  margin: auto;
  padding-left:10px;
  font-size: 10pt;
}
@media screen and (min-width : 576px) {
  /* .deskripsi, .skill, .portfolio {
    height: 100vh;
    align-items: center;
    padding:0 10px ;
  } */

  #footerApp {
    padding: 15px 0;
  }

  .home h3 {
    font-size: 30pt;
  }
  .home p{
    text-align: center;
    font-size: 15pt;
  }

  .deskripsi, .deskripsi .intro {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .deskripsi img {
    width: 100%;
  }
  .deskripsi .my-deskripsi {
    margin-left: 20px;
  }
  .deskripsi .my-deskripsi h3{
    font-size: 26pt;
    font-style: italic;
  }
  .deskripsi .my-deskripsi p{
    font-size: 11pt;
  }
  .deskripsi .my-deskripsi .bio {
    margin: 30px 0;
  }
  .skill h3 {
    font-size: 30pt;
    margin-bottom: 100px;
  }
  .skill .cards img {
    width: 120px;
  }
  .portfolio {
    padding: 100px 50px;
    
  }
  .portfolio .my-portfolio h3 {
    font-size: 30pt;
    margin-bottom: 100px;
  }
  .portfolio .my-portfolio .card {
    margin: 20px 20px;
    width: 14rem;
  }
  .portfolio .my-portfolio .cards .card img {
    width: 120px;
    display: block;
    margin: 0 auto;
  }
  .portfolio .my-portfolio .cards .card p {
    font-size: 10pt;
  }
  .footer i {
    font-size: 20pt;
  }
}

@media screen and (min-width : 992px) {
  .home img {
    width: 300px;
  }
  .deskripsi img {
    width: 300px;
  }
  /* .deskripsi .bio .biodate{
    width:250px;
  } */
}