* {
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
}



#footerApp {
  background-color: #000000;
  padding: 10px 10px;
}
.home, .deskripsi, .skill, .portfolio {
  height: 100vh;
  align-items: center;
  padding:0 10px ;
}
.home h3 {
  font-size: 20pt;
}
.home .intro {
  text-align: center;
  width: 80vh;
}
.home p{
  text-align: justify;
  font-size: 11pt;
}
 .deskripsi{
  background-color: #fafafa;
  border-radius:20px 100px ;
  padding: 0 20px;
 }
.deskripsi img {
  width: 250px;
  margin-bottom: 10px;
}
.deskripsi .my-deskripsi p{
  text-align: justify;
}
.deskripsi .my-deskripsi .biodate{
  width: 200px;
}

.deskripsi .my-deskripsi .contact i{
  font-size: 23pt;
  margin: 20px 20px 30px 0;
  cursor: pointer;
}
.deskripsi button{
  
  margin:20px 20px 0;
}

.skill h3{
  font-size: 20pt;
  margin: 0 50px 50px;
}

.skill .cards img {
  width: 100px;
  padding: 15px;
  border-radius: 30px;
}

.portfolio {
  background-color: #fafafa;
}

.footer i {
  font-size: 20pt;
}
.footer p {
  color: #ffffff;
  margin: auto;
  padding-left:10px;
  font-size: 10pt;
}
@media screen and (min-width : 576px) {

  #footerApp {
    padding: 15px 0;
  }

  .home h3 {
    font-size: 30pt;
  }
  .home p{
    text-align: center;
    font-size: 15pt;
  }

  .deskripsi, .deskripsi .intro {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .deskripsi img {
    width: 100%;
  }
  .deskripsi .my-deskripsi {
    margin-left: 20px;
  }
  .deskripsi .my-deskripsi h3{
    font-size: 26pt;
    font-style: italic;
  }
  .deskripsi .my-deskripsi p{
    font-size: 13pt;
  }
  .deskripsi .my-deskripsi .bio {
    margin: 30px 0;
  }
  .skill h3 {
    font-size: 30pt;
    margin-bottom: 100px;
  }
  .skill .cards img {
    width: 120px;
  }

  .portfolio .my-portfolio img {
    width: 150px;
    display: block;
    margin: 0 auto;

  }
  .footer i {
    font-size: 25pt;
  }
  .footer p {
    font-size: 12pt;
  }
}

@media screen and (min-width : 992px) {
  .home img {
    width: 300px;
  }
  .deskripsi img {
    width: 300px;
  }
  /* .deskripsi .bio .biodate{
    width:250px;
  } */
}